<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero_ajedrez</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

</head>
<body>


<table>
    <tbody>
        {% for i in range (0, row): %}
        <tr>
            {% for x in range (0, column): %}
            {% if (i+x) %2 == 0 %}
            <td style = "background-color: {{color1}}; width: 50px; height: 50px"></td>
            {% else %}
            <td style = "background-color: {{color2}}; width: 50px; height: 50px"></td>
            {%endif%}
            {%endfor%}
        </tr>
        {%endfor%}
    </tbody>
</table>





</body>
</html>